
// 基本設定
*,*::before,*::after {
    box-sizing: border-box;
}

// * {
//     outline: 1px solid black;
// }

body {
    line-height: 1.5;
    font-family: "SF Pro Text", "Microsoft JhengHei";
}

img {
    vertical-align: middle;
}
