/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.title {
  font-size: 32px;
  line-height: 1.5;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
  font-weight: bold;
}

.title-sub {
  font-size: 24px;
  line-height: 1.5;
  color: #A00404;
  padding-left: 16px;
}

.text-white {
  color: #FFFFFF;
}

.text-white .title {
  border-bottom: 1px solid #FFFFFF;
}

.text-white .title-sub {
  color: #FFFFFF;
}

.list {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.header h1 {
  font-size: 80px;
  line-height: 95px;
  padding-top: 40px;
  padding-bottom: 24px;
  border-bottom: 2px solid #000;
}

.header img {
  margin: 48px 0;
  max-width: 324px;
}

.education .list {
  gap: 16px;
}

.skills {
  background-color: #415165;
  padding: 24px 0 40px 0;
  margin-bottom: 64px;
}

.skills .container {
  padding: 0 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .title {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.skills .list {
  margin-bottom: 0px;
  padding-left: 24px;
  border-left: 1px solid #96A9C4;
  gap: 8px;
}

.work .list {
  margin-left: 24px;
  margin-bottom: 80px;
  padding-left: 24px;
  border-left: 1px solid #96A9C4;
}

.work .list h3 {
  font-weight: bold;
}

.work .list p {
  font-size: 20px;
  line-height: 30px;
}

.work .list img {
  max-width: 100px;
}

.footer {
  background-color: #415165;
  padding: 24px 0 40px 0;
  text-align: center;
}

.footer .title {
  margin-bottom: 24px;
}

.footer .list {
  margin-bottom: 0px;
  gap: 16px;
}

.footer img {
  max-width: 48px;
  margin-right: 24px;
}
/*# sourceMappingURL=all.css.map */